*{
  padding: 0;
  margin: 0;
}
body {
  padding: 0px;
  background-color: #393646;
  color: orange;
}

@media screen and (max-width: 500px) {
  body {
    display: flex;
    justify-content: center;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  .shot {
    display: flex;
    justify-content: center;
  }

  .btn-class {
    width: 50px;

    margin-left: 10px;
  }
  ul{
    padding: 40px;
  }
}

h1 {
  color: orangered;
  padding-bottom: 60px;
}

.input-class {
  background-color: #b0a4a4;
  height: 37px;
  width: 250px;
  border-radius: 30px;
  border: none;
  color: whitesmoke;
  font-size: 20px;
}

.btn-class {
  height: 37px;
  width: 48px;
  border: none;
  border-radius: 30px;
  background-color: #b0a4a4;
  color: whitesmoke;
}

.ul {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 540;
  
  /* border: 1px solid black; */
}
p{
  padding: 7px;
}

.main-div {
  /* display: flex;
    justify-content: space-evenly;
   */
  color: rgb(136, 136, 3);
  /* border: 1px solid rgb(1, 161, 22); */
  border-radius: 30px;
  height: 45px;
  width: 400px;
  /* background-color: #6d5d6e; */
  padding: 20px;
}
.main {
  display: flex;
  /* background-color: gray; */
  justify-content: center;
}
